/* .logo {
    background-image: url("../public/virus-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    max-width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
} */

.nav {
    height: 60px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(109, 217, 236, 0.993);
    font-family: sans-serif;
    position: fixed;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    text-decoration: none;
}

.div {
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

/* .proName{
    display: flex;
    align-items: center;
} */