.popup-content {
  overflow: auto;
  height: 75%;
}
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.modal > .sub-header {
  width: 100%;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  font-size: 16px;
  text-align: left;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  top: -10px;
  font-size: 24px;
  background: red;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.modal {
    animation: modal 1s ease;
    -webkit-animation: modal 1s ease;
}
@keyframes modal {
    from{transform:scale(0)}
    80%{transform:scale(1)}
    to{transform:scale(1)}
}
@-webkit-keyframes modal {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1)}
    to{-webkit-transform:scale(1)}
}
